fastapi>=0.111.0
uvicorn[standard]>=0.30.0
SQLAlchemy>=2.0.29
psycopg2-binary>=2.9.9
alembic>=1.13.1
pydantic>=2.7.0
celery[redis]>=5.4.0
redis>=5.0.4
requests>=2.32.2
python-dotenv>=1.0.1
json-logic
loguru>=0.7.2
